body {
    background-color: #E6E2C3;
}

h1, h3 {
    color: #1C315E;
}

h1:hover {
    color: red;
}

p , td, th, li, label{
    color: #227C70;
}


hr {
    border-style: none;
    border-top: dotted;
    border-color: #88A47C;
    border-width: 7px;
    height: 0px;
    width: 10%;
}